################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AI.ConsoleApp1/bin/Debug/net8.0
/AI.ConsoleApp1/obj
*.sln
/.vs/AI.ConsoleApp1
/.vs
